

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html { height: 100%; }

.container-fluid { padding-left: 24px; }

.dashboard-list { list-style: none; }

.dashboard-list li {
   padding: 4px;
   margin: 5px;
   float: left;
   width: 200px;
   height: 125px;
   border: 1px solid black;
}

#content {  overflow: auto; }
#dashboard { list-style-type: none; margin: 0; padding: 0; white-space: nowrap; width: 100%; min-width: 1000px; }
#dashboard li { margin: 3px 3px 3px 0; padding: 1px; display: inline-block; }

#dashboard-settings{ position: fixed; top:200px; left:-296px; }

#dashboard-settings #settings { width: 270px; border: 1px solid #666; border-left: 0; padding: 10px 10px 20px 15px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
background-color: #efefef;
}

#dashboard-settings #settings h4 { margin-bottom: 20px; }

#dashboard-settings a {
    background: transparent;
    background-color: orange;
    display: block;
    width:22px;
    height:150px;
    position: absolute;
    top:30px;
    right:-23px;
    border: 1px solid #666;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#dashboard-settings a:hover { background-position: center right; }


.rotate { writing-mode:tb-rl; filter: flipv fliph; -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -o-transform: rotate(270deg); white-space:nowrap;
    width:20px;
    height:20px;
    font-size:16px;
    font-weight:bold;
    position: absolute;
    top:90px;
    color: #333;
}
